/* Used to remove browser default styles of every element on the page.
* Is called Universal Selector  */
* {
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Apply styles to elements inside the body element */
body {
    color: #415a77; /* Apply light blue / teal color to text */
    font-family: Avenir, Montserrat, sans-serif;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

/* Header style ends */
header {
    padding: 20px 35px;  /* Applies 20px to the top and bottom, then 35px to the left and right */
    background-color: #e0e1dd;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 a {
    font-weight: bold;
    font-size: 36px;
    color: #1b263b;
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav a {
    text-decoration: none;
    color: #415a77;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
/* Header style ends */

/* Footer style begins */
footer {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-top: 20px;
    background-color: #1b263b;
    color: #e0e1dd;
    justify-content: space-between;
}

footer h5 {
    font-size: small;
}

.footer-text {
    font-size: smaller;
}
/* Footer style ends */

/* About me section style begins */
.about-me {
    margin: 20px auto;
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}

.about-me h2 {
    flex: 0 0 0;
    margin-right: 30px;
}

.about-me p {
    margin: 20px 50px;
    text-align: justify;
}

.about-me img {
    width: 100px;
    border-radius: 50%;
    margin: 10%;
}
/* About me section style ends */

.work {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    overflow: hidden;
}

.work h2 {
    text-align: center;
    margin: 15px auto;
}

.work img {
    width: 100%;
    min-height: 300px;
    max-height: 400px;
    object-fit: cover;
    display: flex;
    object-position: top;
}

.work-main {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    flex: 0 100%
}

.work-secondary {
    position: relative;
    flex: 1 50%;
    height: 300px;
    padding: 10px;
}

.work-title {
    position: absolute;
    bottom: 15px;
    left: 25px;
    width: 60%;
    background-color: #415a77;
    color: #e0e1dd;
}

/* Contact section style begins */
.contact {
    margin: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact address ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact ul li {
    margin: 20px;
}
/* Contact section style ends */