/* Defines color variables to be used bellow */
:root { 
    --color1: #e0e1dd;
    --color2: #415a77;
    /* Uses RGBA for transparency */
    --color2transparency: rgba(65, 90, 119, 0.8);
    --color3: #1b263b;
}


/* Used to remove browser default styles of every element on the page.
* Is called Universal Selector  */
* {
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

/* Sets smooth scroll movement when clicking the nav bar links */
html {
    scroll-behavior: smooth;
}

/* Apply styles to elements inside the body element */
body {
    color: var(--color2); /* Apply light blue / teal color to text */
    font-family: Avenir, Montserrat, sans-serif;
}

/* Used to remove link attributes defined by the browser */
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

/* Header style ends */
header {
    padding: 20px 35px;  /* Applies 20px to the top and bottom, then 35px to the left and right */
    background-color: var(--color1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 a {
    font-weight: bold;
    font-size: 36px;
    color: var(--color3);
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav a {
    text-decoration: none;
    color: var(--color2);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* Sets new style when the user hovers over the link */
header nav ul li a:hover {
    background-color: var(--color2);
    color: var(--color1);
    border-radius: 10px;
}

/* Header style ends */

/* Footer style begins */
/* Sets the elements on opposite sides and centralizes on the vertical axis */
footer {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-top: 20px;
    background-color: var(--color3);
    color: var(--color1);
    justify-content: space-between;
}

footer h5 {
    font-size: small;
}

.footer-text {
    font-size: smaller;
}
/* Footer style ends */

/* About me section style begins */
/* Sets the about me elements side by side */
.about-me {
    margin: 20px auto;
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}

.about-me h2 {
    flex: 0 0 0;
    margin-right: 30px;
}

.about-me p {
    margin: 20px 50px;
    text-align: justify;
}
.about-img-text {
    display: flex;
    align-items: center;
}

/* Rounded corners makes the image circular */
.about-me img {
    width: 100px;
    border-radius: 50%; 
    margin: 10%;
}
/* About me section style ends */

/* Work section style begins */
.work {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    overflow: hidden;
}

.work h2 {
    text-align: center;
    margin: 15px auto;
}

.work img {
    width: 100%;
    min-height: 300px;
    max-height: 400px;
    object-fit: cover;
    display: flex;
    /* object-position: top; */
}

.work-main {
    position: relative;
    margin: 10px;
    width: 100%;
    flex: 0 100%
}

.work-secondary {
    position: relative;
    flex: 1 50%;
    height: 300px;
    padding: 10px;
}

/* Creates the title boxes */
.work-title {
    position: absolute;
    bottom: 15px;
    left: 25px;
    width: 60%;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--color2transparency);
    color: var(--color1);
}
/* Work section style ends */


/* Contact section style begins */
.contact {
    margin: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact h2 {
    text-align: center;
}

.contact address ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-style: normal;
}

.contact ul li {
    margin: 20px;
}
/* Contact section style ends */

/* Media queries for smaller devices */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    /* this will be applied on any screen smaller than 980px */
    /* Stacks the nav elements under the page title */
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        text-align: center;
        width: 100%;
        padding: 5px;
    }

    .title {
        display: flex;
        width: 100%;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        flex: 0 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
        padding-left: 25px;
        padding-right: 25px;
    }

    /* Centers the footer info on the page vertical axis */
    footer h5, footer div {
        text-align: center;
        width: 100%;
    }
 
    .about-me {
        display: block;
        width: 80%;
    }

    .about-me h2 {
        text-align: center;
    }

    .profile-picture {
        padding-right: 25px;
    }   

    .text-about-me, .about-me p {
        margin: 10px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    /* this will be applied on any screen between 768px and 575px */
    .contact {
        display: block;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    /* this will be applied on any screen smaller than 575px */

    /* Adds line under the section h2 titles */
    h2 {
        border-bottom: 1px solid var(--color2);
        width: 60%;
        margin: 0 auto;
    }

    /* Removes formatting from previous size */
    .about-me h2 {
        margin-right: auto;
    }

    .work {
        flex-direction: column;
        align-items: center;
    }
    
    .work-main, .work-secondary {
        padding: 0%;
    }

    .work-title {
        margin-bottom: 15px;
    }

    /* Main image should be taller than the rest */
    .work-main img {
        min-height: 500px;
    }

    .work-secondary {
        flex: 100%;
    }

    .work img {
        padding: 15px;
    }

    /* Stacks the links under the title */
    .contact address ul {
        margin-top: 25px;
        display: block;
    }

    /* Sets a smaller margin between elements for the vertical layout */
    .contact address ul li {
        margin: 5px;
    }
}